<app-header></app-header>
<div class="container">
  <div class="main-card">
    <div class="main-heading"> Customer KYC requirments</div>
    <!-- Customer Type Section -->
    <div class="customer-type-section">
      <p style="font-weight: 500;">Customer Type</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Whole Sale</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Retails</label>
      </div>
    </div>
    <!-- Main Form -->
    <div class="main-form">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">First Name</label>
          <input type="text" class="form-control" formControlName="firstName">
          </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email Id</label>
          <input type="email" class="form-control" formControlName="emailId">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Phone No : </label>
          <input type="number" class="form-control" formControlName="phone">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" formControlName="dob">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Income Source</label>
          <input type="text" class="form-control" formControlName="incomeSource">
        </div>
        <br>
        <p style="margin-top:15px;">All Documents Sections</p>
        <div class="horizontal-bar"></div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Driving Licence</label>
          <input type="text" class="form-control" formControlName="uploadDrivingLiecnce">
        </div>
        <div class="col-md-3">
          <label for="inputPassword4" class="form-label">Expiry Date</label>
          <input type="date" class="form-control" formControlName="expiryDate">
        </div>
        <div class="col-md-3">
          <input style="margin-top: 30px;" type="file" class="btn btn-success"/>
        </div>
        <div>
          <p style="margin:15px 0px 15px 0px;">Disclaimer</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" formControlName="isOFACE">
            <label class="form-check-label" for="defaultCheck1">
              I'm not part of OFAC list
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" formControlName="isLegimate">
            <label class="form-check-label" for="defaultCheck1">
              Source of fund is legimate
            </label>
          </div>
          
        <button style="margin: 15px 0px 35px 0px;" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>